In [1]:
import numpy as np
import pandas as pd
import scanpy as sc
import scrublet as scr

In [2]:
sc.settings.verbosity = 3             # verbosity: errors (0), warnings (1), info (2), hints (3)
sc.logging.print_header()
sc.settings.set_figure_params(dpi=80, facecolor='white')

scanpy==1.7.2 anndata==0.7.5 umap==0.5.1 numpy==1.19.5 scipy==1.6.2 pandas==1.1.5 scikit-learn==0.24.1 statsmodels==0.12.2 python-igraph==0.8.3 louvain==0.7.0 leidenalg==0.8.3

In [3]:
results_file = 'write/221222_mouse_testis_processing.h5ad'

In [4]:
adata = sc.read_10x_mtx(
    '/mnt/d/Sambe/Mouse_Testis_SC/data/filtered_feature_bc_matrix_1/',  # the directory with the `.mtx` file
    var_names='gene_symbols',                # use gene symbols for the variable names (variables-axis index)
    cache=True)

... reading from cache file cache/mnt-d-Sambe-Mouse_Testis_SC-data-filtered_feature_bc_matrix_1-matrix.h5ad

In [5]:
adata

AnnData object with n_obs × n_vars = 2552 × 51868
    var: 'gene_ids', 'feature_types'

In [6]:
adata.obs

Empty DataFrame
Columns: []
Index: [AAACCTGAGCTTATCG-1, AAACCTGGTTGAGTTC-1, AAACCTGTCAACGAAA-1, AAACGGGCACAGGTTT-1, AAACGGGTCATTTGGG-1, AAACGGGTCCTCATTA-1, AAAGATGAGGTACTCT-1, AAAGCAAAGACAGACC-1, AAAGCAAAGGTACTCT-1, AAAGCAACAAAGTCAA-1, AAAGCAAGTGATGATA-1, AAAGCAAGTTCCTCCA-1, AAAGTAGCAGCGTAAG-1, AAAGTAGGTGTTCGAT-1, AAAGTAGTCCGCAGTG-1, AAATGCCCAAAGGTGC-1, AAATGCCCACTTACGA-1, AAATGCCGTACCTACA-1, AACACGTCAGACAGGT-1, AACACGTGTCGCTTCT-1, AACCATGAGAGGTACC-1, AACCATGAGATCCGAG-1, AACCGCGAGGACCACA-1, AACCGCGCAGGATCGA-1, AACCGCGGTCATGCAT-1, AACGTTGAGGGAGTAA-1, AACGTTGTCCACGTGG-1, AACGTTGTCTGCCAGG-1, AACTCAGCAATGGTCT-1, AACTCAGGTAAATGTG-1, AACTCAGTCGACGGAA-1, AACTCTTGTGAGCGAT-1, AACTCTTGTTGGTGGA-1, AACTCTTTCAGTTTGG-1, AACTGGTAGAGAGCTC-1, AACTGGTCAGTCCTTC-1, AACTGGTGTCAATGTC-1, AACTTTCCACAGACTT-1, AACTTTCGTCCGTCAG-1, AAGACCTCACAGGTTT-1, AAGACCTGTGTTCGAT-1, AAGCCGCAGAACAACT-1, AAGCCGCAGTTCGCAT-1, AAGGAGCGTCTTCGTC-1, AAGGAGCGTCTTTCAT-1, AAGGAGCGTGCACTTA-1, AAGGTTCTCTTCGAGA-1, AAGTCTGAGTAGGTGC-1, AAGTCTGGTAAATACG-1, AAGTCTGGTCCAGTGC-1, AAGTCTGTCTACTATC-1, AATCCAGCATCCCACT-1, AATCGGTCAAGTCTAC-1, AATCGGTCAGGGAGAG-1, AATCGGTGTATAGTAG-1, ACACCAAAGAGCAATT-1, ACACCAACAAGCGATG-1, ACACCAATCGCTTAGA-1, ACACCCTCAACACCTA-1, ACACCCTGTAGGACAC-1, ACACCCTTCCATTCTA-1, ACACCCTTCTTAGAGC-1, ACACCGGAGAAGGCCT-1, ACACCGGAGTATCTCG-1, ACACCGGAGTCCGGTC-1, ACACTGAAGTCTCAAC-1, ACACTGAGTGCGGTAA-1, ACACTGATCCACGTGG-1, ACAGCCGAGAGAGCTC-1, ACAGCCGAGCTACCTA-1, ACAGCCGGTTTGCATG-1, ACAGCTAAGGACATTA-1, ACAGCTACAATCGGTT-1, ACATACGAGAAGGCCT-1, ACATACGAGAGCTATA-1, ACATACGAGATGGGTC-1, ACATCAGCATCGGACC-1, ACATGGTAGACGCAAC-1, ACATGGTCAGCATACT-1, ACATGGTCATCAGTCA-1, ACATGGTGTGCATCTA-1, ACATGGTTCTGCCCTA-1, ACCAGTAAGGCTCTTA-1, ACCGTAAGTGCAGTAG-1, ACCGTAATCAAACGGG-1, ACCGTAATCCGCATCT-1, ACCTTTACAGACGCTC-1, ACGAGCCGTTAAGATG-1, ACGAGCCTCCTGCAGG-1, ACGAGGAAGATCCGAG-1, ACGAGGACAGACAGGT-1, ACGAGGAGTACCGTTA-1, ACGAGGAGTCCGTTAA-1, ACGAGGAGTGATGCCC-1, ACGAGGATCTGGCGAC-1, ACGATACGTAGCGTGA-1, ACGATGTCATTCGACA-1, ACGATGTTCCTGCAGG-1, ACGCAGCAGACAGGCT-1, ACGCCAGAGCCAGGAT-1, ...]

[2552 rows x 0 columns]

In [7]:
adata.var

                                                  gene_ids    feature_types
4933401J01Rik                           ENSMUSG00000102693  Gene Expression
Gm26206                                 ENSMUSG00000064842  Gene Expression
Xkr4                                    ENSMUSG00000051951  Gene Expression
Gm18956                                 ENSMUSG00000102851  Gene Expression
Gm37180                                 ENSMUSG00000103377  Gene Expression
...                                                    ...              ...
ZOMBI_Mariner/Tc1_Eutheria      ZOMBI_Mariner/Tc1_Eutheria  Gene Expression
ZOMBI_B_Mariner/Tc1_Eutheria  ZOMBI_B_Mariner/Tc1_Eutheria  Gene Expression
ZOMBI_C_Mariner/Tc1_Eutheria  ZOMBI_C_Mariner/Tc1_Eutheria  Gene Expression
ZP3AR_Satellite_Muridae            ZP3AR_Satellite_Muridae  Gene Expression
ZP3AR_MM_Satellite_Mus              ZP3AR_MM_Satellite_Mus  Gene Expression

[51868 rows x 2 columns]

In [8]:
sc.pl.highest_expr_genes(adata, n_top=20)

normalizing counts per cell
    finished (0:00:00)

In [9]:
adata.var['mt'] = adata.var_names.str.startswith('mt-')

In [10]:
adata.var

,gene_ids,feature_types,mt
4933401J01Rik,ENSMUSG00000102693,Gene Expression,False
Gm26206,ENSMUSG00000064842,Gene Expression,False
Xkr4,ENSMUSG00000051951,Gene Expression,False
Gm18956,ENSMUSG00000102851,Gene Expression,False
Gm37180,ENSMUSG00000103377,Gene Expression,False
...,...,...,...
ZOMBI_Mariner/Tc1_Eutheria,ZOMBI_Mariner/Tc1_Eutheria,Gene Expression,False
ZOMBI_B_Mariner/Tc1_Eutheria,ZOMBI_B_Mariner/Tc1_Eutheria,Gene Expression,False
ZOMBI_C_Mariner/Tc1_Eutheria,ZOMBI_C_Mariner/Tc1_Eutheria,Gene Expression,False
ZP3AR_Satellite_Muridae,ZP3AR_Satellite_Muridae,Gene Expression,False
ZP3AR_MM_Satellite_Mus,ZP3AR_MM_Satellite_Mus,Gene Expression,False

In [11]:
sc.pp.calculate_qc_metrics(adata, qc_vars=['mt'], percent_top=None, log1p=False, inplace=True)

In [12]:
adata

AnnData object with n_obs × n_vars = 2552 × 51868
    obs: 'n_genes_by_counts', 'total_counts', 'total_counts_mt', 'pct_counts_mt'
    var: 'gene_ids', 'feature_types', 'mt', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts'

In [13]:
sc.pl.violin(adata, ['n_genes_by_counts', 'total_counts'], jitter=0.4, rotation= 45)
sc.pl.violin(adata, ['pct_counts_mt'], jitter=0.4, rotation= 45)

... storing 'feature_types' as categorical

In [14]:
sc.pl.scatter(adata, x='total_counts', y='pct_counts_mt')
sc.pl.scatter(adata, x='total_counts', y='n_genes_by_counts')

In [15]:
adata.obs

,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt
AAACCTGAGCTTATCG-1,4977,23114.0,8.0,0.034611
AAACCTGGTTGAGTTC-1,4694,19002.0,8.0,0.042101
AAACCTGTCAACGAAA-1,4908,22849.0,1.0,0.004377
AAACGGGCACAGGTTT-1,5392,27921.0,4.0,0.014326
AAACGGGTCATTTGGG-1,4718,18466.0,4.0,0.021661
...,...,...,...,...
TTTGGTTTCTACTATC-2,4196,14006.0,8.0,0.057118
TTTGTCACATCGGTTA-2,4960,23094.0,5.0,0.021651
TTTGTCAGTCCAGTTA-2,1856,7613.0,1.0,0.013135
TTTGTCATCTGTCCGT-2,4868,20155.0,79.0,0.391962
TTTGTCATCTTTCCTC-2,2026,11816.0,3.0,0.025389

In [16]:
adata = adata[adata.obs['pct_counts_mt'] < 10, :]

In [17]:
adata

View of AnnData object with n_obs × n_vars = 2548 × 51868
    obs: 'n_genes_by_counts', 'total_counts', 'total_counts_mt', 'pct_counts_mt'
    var: 'gene_ids', 'feature_types', 'mt', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts'

In [18]:
sc.pp.filter_cells(adata, min_genes=200)
sc.pp.filter_genes(adata, min_cells=3)

Trying to set attribute `.obs` of view, copying.
filtered out 28559 genes that are detected in less than 3 cells

In [19]:
adata

AnnData object with n_obs × n_vars = 2548 × 23309
    obs: 'n_genes_by_counts', 'total_counts', 'total_counts_mt', 'pct_counts_mt', 'n_genes'
    var: 'gene_ids', 'feature_types', 'mt', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts', 'n_cells'

In [20]:
sc.pl.violin(adata, ['pct_counts_mt'], jitter=0.4, rotation= 45)
sc.pl.scatter(adata, x='total_counts', y='pct_counts_mt')

In [21]:
adata.raw = adata

In [22]:
sc.pp.normalize_per_cell(adata, counts_per_cell_after=1e4)
sc.pp.log1p(adata)
sc.pp.scale(adata)

normalizing by total count per cell
    finished (0:00:00): normalized adata.X and added    'n_counts', counts per cell before normalization (adata.obs)
... as `zero_center=True`, sparse input is densified and may lead to large memory consumption

In [23]:
scrub = scr.Scrublet(adata.raw.X)
adata.obs['doublet_scores'], adata.obs['predicted_doublets'] = scrub.scrub_doublets()
scrub.plot_histogram()

sum(adata.obs['predicted_doublets'])

Preprocessing...
Simulating doublets...
Embedding transcriptomes using PCA...
Calculating doublet scores...
Automatically set threshold at doublet score = 0.40
Detected doublet rate = 0.9%
Estimated detectable doublet fraction = 61.5%
Overall doublet rate:
	Expected   = 10.0%
	Estimated  = 1.5%
Elapsed time: 2.5 seconds

24

In [24]:
adata.obs['doublet_info'] = adata.obs["predicted_doublets"].astype(str)
# 文字にしておく、後の操作のために

In [25]:
sc.pl.violin(adata, 'n_genes_by_counts',
             jitter=0.4, groupby = 'doublet_info', rotation=45)
#オプションのつけ方は、API

... storing 'doublet_info' as categorical

In [26]:
adata = adata.raw.to_adata() 

adata = adata[adata.obs['doublet_info'] == 'False',:]
print(adata.shape)

(2524, 23309)

In [27]:
adata.write(results_file)